<?xml version="1.0" encoding="UTF-8"?>
<configuration  packagingData="true">
    <springProfile  name="local">
        <springProperty scope="local" name="appname" source="spring.application.name"/>
        <include resource="org/springframework/boot/logging/logback/defaults.xml" />
        <property name="FILE_LOG_PATTERN" value="[%t] %d{HH:mm:ss.SSS} %5p ${PID:- } %-40.40logger{39} : %m%n%wEx" />
        <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="WARN" />
        <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter" level="WARN" />
        <logger name="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping" level="WARN" />
        <logger name="org.springframework.boot.web.servlet.FilterRegistrationBean" level="WARN" />

        <!-- 定义日志文件 输入位置 -->
        <property name="log_dir" value="logs"/>
        <!-- 日志最大的历史 30天 -->
        <property name="maxHistory" value="30"/>

        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>[%thread] %d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
                </pattern>
            </encoder>
        </appender>

        <logger name="romever.scan.oasisscan.utils.okhttp.Printer"  level="warn">
            <appender-ref ref="STDOUT" />
        </logger>

        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
    <springProfile  name="prod">
        <springProperty scope="prod" name="appname" source="spring.application.name"/>
        <include resource="org/springframework/boot/logging/logback/defaults.xml" />
        <property name="FILE_LOG_PATTERN" value="[#[%t] %d{HH:mm:ss.SSS} %5p ${PID:- } %-40.40logger{39} : %m%n%wEx" />
        <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="WARN" />
        <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter" level="WARN" />
        <logger name="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping" level="WARN" />
        <logger name="org.springframework.boot.web.servlet.FilterRegistrationBean" level="WARN" />

        <!-- 定义日志文件 输入位置 -->
        <property name="log_dir" value="logs"/>
        <!-- 日志最大的历史 30天 -->
        <property name="maxHistory" value="30"/>
        <property name="maxSize" value="300MB"/>

        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>[%thread] %d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
                </pattern>
            </encoder>
        </appender>
        <appender name="ROOT" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <encoder><pattern>${FILE_LOG_PATTERN}</pattern></encoder>
            <file>${log_dir}/app.${HOSTNAME:- }.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${log_dir}/history/app.${HOSTNAME:- }.%d.%i.log.gz</fileNamePattern>
                <maxFileSize>${maxSize}</maxFileSize>
                <maxHistory>${maxHistory}</maxHistory>
            </rollingPolicy>
        </appender>
        <appender name="okhttp" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <encoder><pattern>${FILE_LOG_PATTERN}</pattern></encoder>
            <file>${log_dir}/okhttp.${HOSTNAME:- }.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${log_dir}/history/okhttp.${HOSTNAME:- }.%d.%i.log.gz</fileNamePattern>
                <maxFileSize>${maxSize}</maxFileSize>
                <maxHistory>${maxHistory}</maxHistory>
            </rollingPolicy>
        </appender>
        <logger name="romever.scan.oasisscan.utils.okhttp.Printer"  level="info"  additivity="false">
            <appender-ref ref="okhttp" />
        </logger>


        <!--监控日志只输出到console-->
        <logger name="io.micrometer.influx" level="INFO"  additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="ROOT" />
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile  name="test">
        <springProperty scope="test" name="appname" source="spring.application.name"/>
        <include resource="org/springframework/boot/logging/logback/defaults.xml" />
        <property name="FILE_LOG_PATTERN" value="[#[%t] %d{HH:mm:ss.SSS} %5p ${PID:- } %-40.40logger{39} : %m%n%wEx" />
        <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="WARN" />
        <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter" level="WARN" />
        <logger name="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping" level="WARN" />
        <logger name="org.springframework.boot.web.servlet.FilterRegistrationBean" level="WARN" />

        <!-- 定义日志文件 输入位置 -->
        <property name="log_dir" value="logs"/>
        <!-- 日志最大的历史 30天 -->
        <property name="maxHistory" value="30"/>
        <property name="maxSize" value="300MB"/>

        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>[%thread] %d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
                </pattern>
            </encoder>
        </appender>
        <appender name="ROOT" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <encoder><pattern>${FILE_LOG_PATTERN}</pattern></encoder>
            <file>${log_dir}/app.${HOSTNAME:- }.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${log_dir}/history/app.${HOSTNAME:- }.%d.%i.log.gz</fileNamePattern>
                <maxFileSize>${maxSize}</maxFileSize>
                <maxHistory>${maxHistory}</maxHistory>
            </rollingPolicy>
        </appender>
        <appender name="okhttp" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <encoder><pattern>${FILE_LOG_PATTERN}</pattern></encoder>
            <file>${log_dir}/okhttp.${HOSTNAME:- }.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${log_dir}/history/okhttp.${HOSTNAME:- }.%d.%i.log.gz</fileNamePattern>
                <maxFileSize>${maxSize}</maxFileSize>
                <maxHistory>${maxHistory}</maxHistory>
            </rollingPolicy>
        </appender>
        <logger name="romever.scan.oasisscan.utils.okhttp.Printer"  level="info"  additivity="false">
            <appender-ref ref="okhttp" />
        </logger>


        <!--监控日志只输出到console-->
        <logger name="io.micrometer.influx" level="INFO"  additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="ROOT" />
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

</configuration>